.site-title {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.site-title img {
  vertical-align: middle;
}
.site-nav .page-link {
  padding-top: 10px;
}
p {
  font-size: 18px;
}
/* Ensure the menu is hidden on smaller screens by default */
@media screen and (max-width: 800px) {
  .site-nav {
    display: none;
  }

  .nav-trigger:checked ~ .site-nav {
    display: block;
  }
}